<div class="ink-row">
  <div class="ink-l25">
    &nbsp;
  </div>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'ink-form block ink-l50 ink-vspace'}) do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
  	<legend>Sign up</legend>
  	<div class="control">
  		<%= f.label :email %>
  		<%= f.text_field :email %>
  	</div>

  	<div class="control">
  		<%= f.label :ssh_public_key %>
  		<%= f.text_field :ssh_public_key %>
  	</div>
    <p class="note"><code>$> cat ~/.ssh/id_rsa.pub | pbcopy</code></p>

  	<div class="control">
  		<%= f.label :password %>
  		<%= f.password_field :password %>
  	</div>

  	<div class="control">
  		<%= f.label :password_confirmation %>
  		<%= f.password_field :password_confirmation %>
  	</div>
  </fieldset>
  <%= f.submit "Sign up", :class => 'ink-button success' %>
<% end %>
</div>

<%= content_for :footer do %>
<nav class="ink-navigation ink-l100">
  <ul class="ink-footer-nav">
  <%= render "devise/shared/links" %>
  </ul>
</nav>
<% end %>
