<% if @app.is_bootstrap_done? %>
<% pole = Tadpole.find(@app.name) %>

<div class="ink-l100 mb center">
	<h2><i class="icon-cloud icon-large"></i> <%= @app.name %>: Application details <% if !pole.running? %><span class="ink-label caution">Down<span><% else %><span class="ink-label success">Running<span><% end %></h2>
</div>

<table class="ink-table ink-bordered ink-zebra ink-hover ink-vspace">
	<thead>
		<th>Stack</th>
		<th>Internal IP</th>
		<th>Port</th>
		<th>Status</th>
		<th style="width:80px;">Ops</th>
	</thead>
	<tbody>
		<tr>
			<td><%= pole.stack %></td>
			<td><%= pole.container_ip %></td>
			<td><%= pole.local_port %></td>
			<td>
				<% if !pole.running? %>
					<span class="ink-label caution">Down<span>
				<% else %>
					<span class="ink-label success">Running<span>
				<% end %>
			</td>
			<td style="width:80px;">
				<a href="http://<%= @app.name %>.sapoku.webreakstuff.com" class="ink-button">Open</a>
			</td>
		</tr>
	</tbody>
</table>

<div class="row ink-vspace">
	<div class="ink-l50">
		<h3>Deploying to <%= @app.name %></h3>
		<h5>Build your code</h5>
		<p>Work on your code, as you normally would.</p>
		<h5>Add our remote to your git repository</h5>
		<code>$><mark>git remote add sapoku git@sapoku.webreakstuff.com:<%=@app.name%>.git</mark></code>
		<h5>When ready to deploy, push to sepoku</h5>
		<code>$><mark>git push sepoku</mark></code>
	</div>
	<div class="ink-l50">
		&nbsp;
	</div>
</div>

<p><%= link_to "Delete application", @app, :method => :delete, :confirm => 'Are you really sure? There is no turning back!', :class => "ink-button caution" %> </p>

<% else %>
	<%= content_for :header do %>
		<meta http-equiv="refresh" content="3"/>
	<% end %>
	<div class="ink-alert ink-vspace"><p>Our ninjas are working hard to summon your app to life. Please wait a few moments longer!</p></div>
<% end %>