<% if @app.is_bootstrap_done? %>
<% pole = Tadpole.find(@app.name) %>

<div class="ink-l100 mb center">
	<h2><i class="icon-cloud icon-large"></i> <%= @app.name %> is currently <% if !pole.running? %><span class="ink-label caution">Down<span><% else %><span class="ink-label success">Running<span><% end %></h2>
</div>

<table class="ink-table ink-bordered ink-zebra ink-hover ink-vspace">
	<thead>
		<th>Stack</th>
		<th>Internal IP</th>
		<th>Port</th>
		<th>Status</th>
		<th style="width:80px;">Ops</th>
	</thead>
	<tbody>
		<tr>
			<td><%= pole.stack %> <%= image_tag("ruby.png", :class => "tiny") %></td>
			<td><%= pole.container_ip %></td>
			<td><%= pole.local_port %></td>
			<td>
				<% if !pole.running? %>
					<span class="ink-label caution">Down<span>
				<% else %>
					<span class="ink-label success">Running<span>
				<% end %>
			</td>
			<td style="width:80px;">
				<a href="http://<%= @app.name %>.sapoku.webreakstuff.com" class="ink-button">Open</a>
			</td>
		</tr>
	</tbody>
</table>

<div class="ink-row ink-vspace">
	<div class="ink-l50">
		<h3>Deploying your application</h3>

		<ol>
			<li>Work on your application</li>
			<li>
				Add our remote to your git repository<br/>
				<code><mark>git@sapoku.webreakstuff.com:<%= @app.name %>.git</mark></code>
			</li>
			<li>When ready to deploy, push to sepoku</li>
			<li>You're done! <a href="http://<%= @app.name %>.sapoku.webreakstuff.com">Refresh your browser</a>.</li>
		</ol>
	</div>
</div>

<hr/>
<p><%= link_to "Delete application", @app, :method => :delete, :confirm => 'Are you really sure? There is no turning back!', :class => "ink-button caution" %> </p>

<% else %>
	<%= content_for :header do %>
		<meta http-equiv="refresh" content="3"/>
	<% end %>
	<div class="ink-alert ink-vspace"><p>Our ninjas are working hard to summon your app to life. Please wait a few moments longer!</p></div>
<% end %>